<ion-header>
  <ion-toolbar class="toolbar">
    <!--<ion-icon slot="start"class="back" name="chevron-back-outline" (click)="backToPage()" ></ion-icon>-->
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--*ngIf="selectedcourse"--> <ion-grid  *ngIf="selectedcourse" >
    <ion-col>
      <p style="padding: 10px; text-align: justify;"> Welcome to this course. You can start learning right away! </p>
      <ion-row>
        <img [src]="courseImage" style="padding: 20px 0;">
      </ion-row>
      <ion-row>
        <h1 style="width: 100%;
        text-align: center;
        padding: 10px;">{{selectedcourse.courseName}}</h1>
      </ion-row> 
      <ion-row>
        <ion-button style="width: 100%;
        text-align: center; margin: 10px 0;" type="submit" (click)="onSelect(selectedCourse)"  >Book Now</ion-button> <!-- (click)="addToBookingList()"-->
      </ion-row>
      <ion-row>
        <div style="padding: 20px;"><h2>{{selectedcourse.coursePrice}} </h2>
        </div>
      </ion-row>
     <ion-row>
        <span  style="padding: 20px 0;">{{selectedcourse.description}}</span>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
